/*
html {
	font-family: 'Quattrocento Sans', sans-serif;
}
*/
p{
	color:  #373737;
}

.timhackynavbar {
    list-style-type: none;
}

li {
	display: inline;
	padding: 1em;
}

.moduletextarea{	
	border-radius: 20px;
	outline: none;
	padding: 1em;
	border: solid 3px #E5007D;	
	color:  #575756;
	text-align: center;
	font-size: 1em;
}