{% extends "base.html" %}
{% block title %} ModuleBoard{% endblock %}
{% block content %} 
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<h1> Moduleboard </h1> 
	<textarea class="moduletextarea" placeholder="Type in a module code to get started... (18COA105)"></textarea>
	<hr>
	<p> Get help on your specific module by asking questions on an anonymous, user-friendly message board. All you need to start posting is a .lboro.ac.uk email and a username. </p>
	<p> Supports all Loughborough University modules for academic year 2018-2019. </p>
	<p> Only your username is displayed across the website, don't be embarassed! </p>
	<p> Earn points for helping out and asking popular questions. </p>
</div>
</body>
{% endblock %}

